/* 
    Document   : warung
    Created on : May 18, 2010, 12:23:39 AM
    Author     : hendra
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

/* ########### SHIPPING FORM ############*/
#wCart_shipping_form, #order-summary {
    /*border: 1px solid;*/
    padding: 10px;
    width: 580px;
}
#wCart_shipping_form .submit {
    margin-left: 155px;
    margin-top: 10px;
    background: green;
    border: 1px solid #DDDDDD;
}
#wCart_shipping_form label {
    display:block;
    float:left;
    margin-right:5px;
    text-align:right;
    width:150px;
}
#wCart_shipping_form label.error {
    width: 250px;
    display: block;
    float: left;
    color: red;
    padding-left: 10px;
}
#wCart_shipping_form .error {
    border-color: red;
}
#wCart_shipping_form .wCart_form_row {
    padding: 5px 0;
    clear: both;
    width: 100%;
}
#wCart_shipping_form input[type=text], select, textarea {
    width: 250px;
    float: left;
}
#wCart_shipping_form textarea {
    height: 50px;
}

/* #### Shopping Cart #### */
#wcart_icon {
    position: absolute;
    top: 10px;
    left: -15px;
}

#wcart-detailed {
    width: 580px;
    padding: 10px;
}

#wcart-detailed td {
    vertical-align: top;
    text-align: right;
    padding: 4px 4px 0px 4px;
    border-bottom: 1px solid;
}

#wcart-detailed th {
    border: 1px solid;
    padding: 4px 4px 0px 4px;
}

#wcart-detailed .wcart-td-footer {
    border: none;
}

#wcart_detailed_nav {
    padding: 20px 0px 0px 0px;
}

.wcart_total {
    color: red;
}

/* ## CART WIDGET ##*/
#warung-cart {
    background-color: green;
    border: 1px dashed #DDDDDD;
    -moz-border-radius: 10px 0px 10px 0px;
    -webkit-border-radius: 10px 0px 10px 0px;
}

.widgettitle img {
    width: 16px;
    height: 16px;
}

/*
 * ## ADD 2 CART ##
*/
#wCart_add_2_cart {
    width: 100%;
    clear:both;
    padding-top: 20px;
}
#wCart_add_2_cart select {
    margin-left: 10px;
    margin-right: 4px;
    padding: 3px;
}
#wCart_add_2_cart input[type=submit] {
    background: #C60000;
    border: 1px solid #DDDDDD;
    margin-left: 10px;
}

#wCart_confirmation input[type=submit] {
    background: green;
    border: 1px solid #DDDDDD;
    margin-left: 10px;
}

/* ###### SUMMARY ##########*/
#order-summary {
    width: 580px;
}

/* ### PRODUCT INFO ####*/
#wcart_pimage {
    float:left;
    border: 1px dashed;
    padding: 4px;
}

#wcart_pinfo {
    font-size: 0.8em;
    font-weight: bold;
    width: 40%;
    float: left;
    padding: 0px 0px 0px 20px;
}

#wcart_item_thumbnail img {
    width: 60px;
    height: 60px;
    border: 1px dashed;
    padding: 4px;
    float: left;
}